<div class="app-nav">
  <div class="container">
    <div class="logo-container">
      <a href="#">
        <h2 class="logo__title">Shop Store</h2>
      </a>
    </div>
    <div class="navigation-container">
      <nav class="nav">
        <ul>
          <li class="nav__item">
            <a [routerLink]="['/categories']" routerLinkActive="router-link-active"  class="nav__link">Categories</a>
          </li>
          <li class="nav__item">
            <a [routerLink]="['/products']" routerLinkActive="router-link-active"  class="nav__link">Products</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">My products</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="log-container">
      <ul>
        <li>
          <a href="#" class="nav__link">Sign In</a>
        </li>
        <li>
          <a href="#" class="sign-up">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</div>