.wrapper {
    width: 1140px;
    margin: 0 auto;
}
.header {
    text-align: center;
}
.wrapper-btn {
    text-align: center;
}
.btn {
    border: none;
    font-size: 20px;
    background-color: #ff141f;
    color: #fff;
    border-radius: 3px;
}