<div *ngIf="!logged">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
    <h3>Login Form</h3>
    <label class="wrapper-input">
      Username
      <input type="text" name="username" ngModel required #username="ngModel">
    </label>
    <label class="wrapper-input">
      Password
      <input type="password" name="password" ngModel required #password="ngModel">
    </label>
    <button class="btn">Submit</button>
  </form>
</div>

<!-- <div *ngIf="!logged">
  <h1>Login form</h1>
  <p>Username: <input type="text" [(ngModel)]="username"></p>
  <p>Password: <input type="password" [(ngModel)]="password"></p>

  <button (click)="login()">Login</button>
</div> -->

<div class="wrapper" *ngIf="logged">
  <h1 class="header">Companies</h1>
  <router-outlet></router-outlet>

  <div class="wrapper-btn">
    <button (click)="logout()" class="btn">Logout</button>
  </div>
</div>